huggingface_hub==0.25.1
numpy==2.2.0
pandas==2.2.3
peft==0.12.0
python-dotenv==1.0.1
scikit_learn==1.6.0
scikit_optimize==0.10.2
sentence_transformers==3.0.1
torch==2.4.0
tqdm==4.66.5
transformers==4.40.2
datasets==3.1.0
llama_cpp_python==0.3.4
ollama==0.4.4
llm2vec==0.2.2
